<%= form_with(model: @place, local: true) do |form| %>

<%#= form_with(model: [ @user, @user.places.build ]) do |form| %>
<%#= form_with model: @place.user_id, local: true,  html:{multipart: true} do |form| %>


  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <% if @place.image? %>
        <br>
        <br>
        <%= image_tag @place.image.url, id:"place-photo-medium" %>
        <br>
        <br>
        Remove Image
        <%= form.check_box :remove_image %>
    <% else %>
        <%= form.file_field :image %>
    <% end %>
    <br>
    <br>
  </div>


  <div class="field">
    <%= form.label :title %>:
    <%= form.text_field :title, id: :place_title %>
  </div>

  <div class="field">
    <%= form.label :description %>:
    <%= form.text_area :description, id: :place_description %>
  </div>

  <div class="field">
    <%= form.label :rating %>:
    <%= form.number_field :rating, id: :place_rating %>
  </div>

  <!-- <div>
    <%= "User ID" %>
    <br>
    <%= current_user.id %>
    <br>
    <% form.label :user_id %>
    <% form.text_area :user_id, id: :current_user_id %>
  </div> -->

<hr>

<!-- Map insertion Begin -->
<p>(If you do not know the address enter the name of your place in the address field)</p>
<div class="field">
  <%= form.label :address %>:
  <%= form.text_field :address, id: :place_address %>
</div>

<div class="field">
  <%= form.label :city %>:
  <%= form.text_field :city, id: :place_city %>
</div>

<div class="field">
  <%= form.label :state %>:
  <%= form.text_field :state, id: :place_state %>
</div>

<div class="field">
  <%= form.label :zip %>:
  <%= form.text_field :zip, id: :place_zip %>
</div>

<hr>
  <h1>OR</h1>
  <div class="field">
    <%= form.label :longitude %>:
    <%= form.text_field :longitude, id: :place_longitude %>
  </div>
  <div class="field">
    <%= form.label :latitude %>:
    <%= form.text_field :latitude, id: :place_latitude %>
  </div> <!-- Map insertion End -->

<hr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<hr>

<br>
