

<h1>DIRECTIONS</h1>
<hr>
<% @places.order("created_at DESC").each do |user_place| %>
  <ul>

    <li>Title: <%= user_place.title %>
      <br>
      Lat/Lng: <%= user_place.lat %>, <%= user_place.lng %>
    </li>

    <li>
      <%=link_to 'Show', user_place_path(@user, user_place) %>
    </li>

     <hr>
  </ul>
<% end %>








<table>

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.order("created_at DESC").each do |user_place| %>
      <tr>
        <td>
          Title: <%= user_place.title %>
            <br>
            Lat/Lng: <%= user_place.lat %>, <%= user_place.lng %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Option 1  -->
<select name="post[author_id]" id="post_author_id">
  <option value="" selected="selected">Please select</option>
  <option value="1">D. Heinemeier Hansson</option>
  <option value="2">D. Thomas</option>
  <option value="3">M. Clark</option>
</select>
<!-- Option 1 -->




<!-- Option 1  -->
<!-- <select name="post[author_id]" id="post_author_id">
  <option value="">Please select</option>
  <option value="1" selected="selected">D. Heinemeier Hansson</option>
  <option value="2">D. Thomas</option>
  <option value="3">M. Clark</option>
</select> -->
<!-- Option 1 -->
<!-- Option 2  -->
<!-- <select name="post[author_id]" id="post_author_id">
  <option value="">Please select</option>
  <option value="1" selected="selected">D. Heinemeier Hansson</option>
  <option value="2">D. Thomas</option>
  <option value="3">M. Clark</option>
</select> -->
<!-- Option 2 -->


<div id="floating-panel">

<b>Start: </b>

<select id="start">
  <option value="chicago, il">Chicago</option>
  <option value="st louis, mo">St Louis</option>
  <option value="joplin, mo">Joplin, MO</option>
  <option value="oklahoma city, ok">Oklahoma City</option>
  <option value="amarillo, tx">Amarillo</option>
  <option value="gallup, nm">Gallup, NM</option>
  <option value="flagstaff, az">Flagstaff, AZ</option>
  <option value="winona, az">Winona</option>
  <option value="kingman, az">Kingman</option>
  <option value="barstow, ca">Barstow</option>
  <option value="san bernardino, ca">San Bernardino</option>
  <option value="los angeles, ca">Los Angeles</option>
</select>

<b>End: </b>

<select id="end">
  <option value="chicago, il">Chicago</option>
  <option value="st louis, mo">St Louis</option>
  <option value="joplin, mo">Joplin, MO</option>
  <option value="oklahoma city, ok">Oklahoma City</option>
  <option value="amarillo, tx">Amarillo</option>
  <option value="gallup, nm">Gallup, NM</option>
  <option value="flagstaff, az">Flagstaff, AZ</option>
  <option value="winona, az">Winona</option>
  <option value="kingman, az">Kingman</option>
  <option value="barstow, ca">Barstow</option>
  <option value="san bernardino, ca">San Bernardino</option>
  <option value="los angeles, ca">Los Angeles</option>
</select>
</div>

<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCb7XJAeWDd5AXTQpyjeYIU93Gc7CfUpVk&callback=initMap">
</script>
