
<p id="notice"><%= notice %></p>

<p> You have <strong> <%= @places.count%> </strong> Places. </p>
<br>
<h1>My Profile</h1>
<br>
  <table class="center">
    <thead>
      <tr>
        <!-- <th>USER ID</th> -->
        <th>Photo</th>
        <th>Place</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.order("created_at DESC").each do |user_place| %>
        <tr>
          <!-- <td> Added <%#= time_ago_in_words(user_place.created_at)%> ago</td> -->
          <!-- <td><%#= user_place.user_id%></td> -->
          <td><%= image_tag user_place.image.url(:medium)%></td>
          <td><%= user_place.title %></td>
          <td><%= user_place.rating %></td>

          <td><%=link_to 'Show', user_place_path(@user, user_place) %></td>
          <!-- <td><%#= link_to ' Show ', user_place %></td> -->

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

   <%= link_to ' Back', :back %>
