<p id="notice"><%= notice %></p>

<h1>Places</h1>
<hr>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Photo</th>
      <th>Description</th>
      <th></th>
      <th>Rating</th>
      <th>Location</th>

      <th colspan="50"></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to 'Show me', place %></td>
        <td><%= place.title %> </td>
        <td><%= image_tag place.image.url(:thumb)%></td>
        <td><%= place.description %></td>
        <td></td>
        <td><%= place.rating %></td>
        <td><%= place.full_street_address %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>

<script> </script>
