
<p id="notice"><%= notice %></p>

<h1>My Places</h1>

<p> You have <strong> <%= @places.count%> </strong> Places. </p>

<!-- <hr>
<%=link_to 'Directions', directions_path(current_user) %>
<hr> -->

        <!-- <th>USER ID</th> -->
        <ul>

    <% @places.order("created_at DESC").each do |user_place| %>
        <li>
        <!-- <td><%#= image_tag user_place.image.url, class: 'place-photo' if user_place.image.url != nil %></td> -->
        <%#= image_tag user_place.image.url(:thumb) if user_place.image.url != nil %>
        <%= image_tag user_place.image.url, id:"place-photo-medium" if user_place.image.url != nil %>
            <br>
        <%= user_place.title %>
            <br>
        <p>Rating: <%= user_place.rating %></p>
         <%=link_to 'Show', user_place_path(@user, user_place) %>
         <hr>
      <% end %>
        </li>
    </ul>

    <br>
    <br>
    <br>
    <br>

   <%= link_to ' Back', :back %>

   <br>
   <br>
