<p id="notice"><%= notice %></p>


<p>
  <h1> <%= @place.title %> </h1>
</p>

<p>
  <strong>Photo:</strong>
  <br>
  <%#= image_tag @place.image.url(:medium)%>
  <%#= image_tag @place.image.url if @place.image.url != nil %>
  <%= image_tag @place.image.url, id:"place-photo-large" if @place.image.url != nil %>

</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @place.rating %>
</p>

<!-- Map Insertion Begin -->
<p>
  <strong>Address:</strong>
  <%= @place.full_street_address %>
</p>

<hr>
<br>
p.s. if on mobile device drag the yellow person icon onto the map for a suprise :)
<br>
<br>

<div id="map"></div>

<p>
  Latitude:<%= @place.lat %>
  Longitude:<%= @place.lng %>
</p>

<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCb7XJAeWDd5AXTQpyjeYIU93Gc7CfUpVk&callback=initMap">
</script>

<script>
var lat = <%= @place.lat %>;
var lng = <%= @place.lng %>;
</script>
<!-- Map Insertion End -->

<br>
<%= link_to 'Edit ', edit_user_place_path(@user, @place) %> |
<%= link_to 'Delete', @place, method: :delete, data: { confirm: 'Are you sure you want to delete this place?' }%>
<hr>
<!--  -->
<br>
<h1>
  <%= @place.comments.count %>
 <%=  "Comment".pluralize(@place.comments.count)%> <%= @place.title %>
</h1>

<%= render 'comments/form' %>

<hr>
<br>
<!--  -->

<%= link_to 'Back', :back %>
