<!DOCTYPE html>
<html>
  <head>
    <title>Place Saver</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

       <p class="alert"><%= alert %></p>
        (View on Mobile for best Experience)
<hr>
        <br>
        <br>

       <% if current_user %>
          Welcome <%=link_to "#{current_user.email}",current_user%>
          <br>
          <br>
          <%=link_to 'My Places', places_path(current_user) %> |
          <%=link_to 'Add Place', new_user_place_path(current_user) %> |
          <%= link_to "Sign Out ", destroy_user_session_path, method: :get %>﻿
          <!--  -->
          <!--  -->
       <% else %>
          <%= link_to 'Home', root_url %> |
          <%=link_to 'Places', places_path %> |
          <%= link_to 'Log In', new_user_session_path%> |
          <%= link_to 'Sign Up ', new_user_registration_path %>
       <% end %>
       <br>
       <br>
       <hr>

      <%= yield %>

    </div>
  </body>
</html>
