<!DOCTYPE html>
<html>
  <head>
    <title>Copy Two IWasThere</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

       <p class="alert"><%= alert %></p>

       <!-- <% if current_user %>
         <h1>Current User ID = <%= current_user.id %></h1>
       <% else %>
     <h1> Click <%= link_to 'here', new_user_registration_path %> to sign up </h1>
       <% end %>

       <hr> -->
       <br>

       <% if current_user %>
         Welcome <%=link_to "#{current_user.email}",current_user%>

       <br>
       <br>
          <%= link_to 'Home', root_url %> 
          <!-- <%#=link_to 'My Profile', current_user%>  -->

          <!-- Nested route begin  -->
          <%=link_to 'My Places', user_places_path(current_user) %>
          <!-- Nested route end -->


          <!-- Nested route begin  -->
          <%=link_to 'New Place', new_user_place_path(current_user) %> 
          <!-- Nested route end -->

          <%= link_to "Sign Out", destroy_user_session_path, method: :get %>﻿
       <% else %>
          <%= link_to 'Home', root_url %> 
          <%=link_to 'Places', places_path %> 
          <%= link_to 'Log In', new_user_session_path%> 
          <%= link_to 'Sign Up', new_user_registration_path %>
       <% end %>
       <br>
       <br>
       <hr>
       <br>

      <%= yield %>

    </div>
  </body>
</html>
